h1{
    background-color: aquamarine;
    text-align: center; 

}
.nav_all{
    display: flex;
    justify-content: space-between;
    text-align: center;
    

}
.nav{
    display: flex;    
    align-items:stretch;
    padding-left: 0px;
    margin: 0px;

}
ul{
    list-style-type: none;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    padding-left: 0px;
    
}
.nav li{
    background-color: aquamarine;
    width: 5vh;
    margin: 0.5rem;

    border-style:dashed;
    height: 5rem;
    
}
#logo{
    background-color: aquamarine;
    text-align: center;
    width: 1vh;
}
h2{
    text-align: center; 
}
.button{
    display: flex;
    background-color: bisque;
    text-align: center;
    justify-content: center; 
    width: 15%;
    padding: 10px;
    min-width: 120px;
}
.button_container{
    display: flex;
    justify-content: space-around;
}

.main_container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    max-width: 1200px;
}
.main_item{
    width: 20vh;    
    background-color: blue;

}
div.section_content{
    display: flex;    
    background-color: brown;
    justify-content: space-around; 
    /* width: 100vw; */
    

    
}
@media screen and (max-width:650px){
    .button{
        width:120px;}
}