body{
    max-width: 100vw;
    margin: 0;
}

.nav_all{
    background-color: rgb(234, 231, 177);
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 5vh;
    align-items: stretch;
    padding: 5px;
    width: 100%;
    position: fixed;
    top:0
}
.nav_button_containner{
    display: flex;    
    align-items:stretch;
    padding-left: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
/* nav_button_setting */

.nav_button_containner li{
    width: 10vh;
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* logo_setting */
#logo{
    display: flex;
    margin-left: 10px;
}
#logo p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
/* content_setting */
h1{
    display: flex;
    background-color: rgb(166, 187, 141);
    text-align: center; 
    margin-top: 50px;
    height: 180px;
    justify-content: center;
    align-items: center;

}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.section_content_container div{

    display: flex;    
    width: 49%;  
    align-items: center;
    justify-content: center; 
    background-color: rgb(97, 135, 110);
    height: 180px;
    margin: 5px;
    color: aliceblue;
    font-size: 20px;
}
div.section_content_container{
    display: flex;    
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
/* button_setting */
.button_container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.button{
    display: flex;
    background-color: rgb(138, 192, 173);
    text-align: center;
    justify-content: center; 
    width: 15%;
    padding: 10px;
    min-width: 120px;
    border-radius: 15px;
    border-color: transparent;
}
.button:active {
    background-color: #e4a615;
    transform: translateY(4px);
}
@media screen and (max-width:650px){
    .button{
        width:120px;}
    .section_content_container div{
        display: flex;    
        width: 98%;  
        align-items: center;
        justify-content: center; 
        background-color: rgb(97, 135, 110);
        height: 180px;
        margin: 5px;
    }
    #logo{
        display: none;
    }
    .nav_all{
        display: flex; 
        justify-content: space-around;
    }

}
