doctype html
html(lang="en")
    head
        title Welcom Page
    body
        if name
            h2 Hi~~!! #{name}
        else
            h1 Hi~Nice to meet you, What's your name?
            h2 Type your name below
            form(action="/trackName" method="get")
                input(type='text' name='name' value="使用者的輸入")
                button(type='submit') Submit
